.navbar {
    z-index: 1000;
    background: var(--color-bg-secondary);
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    position: relative;
}
.links_group {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.search_input {
    width: 0;
    opacity: 0;
    pointer-events: none;   
    font-size: 1.25rem;
    padding: 0.25rem 0.75rem;
    border-radius: 0.5rem;
    outline: none;
    border: none;
    color: var(--color-main);
}
.search_input_active {
    max-width: 250px;
    width: 100%;
    opacity: 1;
    pointer-events: all;
    background: var(--color-auxiliary-1);
}
.search {
    gap: 0.25rem;
}

.block {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    max-height: 40px;
}

.list {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
}
.link {
    font-size: 1.2rem;
    font-weight: 500;
    transition: all 0.3s;
    cursor: pointer;
}
.link:hover {
    color: var(--color-auxiliary-2);
}
.user {
    font-size: 1.2rem;
    font-weight: 500;
    transition: all 0.3s;
}
.user:hover {
    color: var(--color-auxiliary-2);
}
.search_active_other {
    display: none;
    /* width: 0;
    opacity: 0;
    pointer-events: none; */
}
.search_active_parent {
    position: relative;
}
.search_active {
    position: absolute;
    left: 0.65rem;
    pointer-events: none;
}
.link:has(.search_active) {
    transition: all 0.0s;
    color: var(--color-main) !important;
}
.active_menu {
    border-bottom: 1px solid var(--color-main);
}
@media screen and (max-width: 600px) {
    .navbar {
        padding: 1rem;
    }
    .logo {
        max-height: 35px;
    }
    .link {
        font-size: 1rem;
    }
    .user {
        font-size: 1rem;
    }
}