.page {
    padding: 2rem 1rem;
    width: 70%;
    margin: auto;
}
.h2 {
    font-size: 2rem;
    margin: 2rem 0 1rem 0;
}
.h2:first-of-type {
    margin-top: 0;
}
.info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.75rem;
}
.header_filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}
.filters_button {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
}
.filters {
    max-height: 0;
    transition: max-height 0.5s ease-in-out;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
    margin-bottom: 1rem;
    flex-wrap: wrap;
    font-size: 1.25rem;
}
.filters label {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
}
.filters > div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    flex-wrap: wrap;
}
.filters input {
    background-color: var(--color-auxiliary-1);
    color: var(--color-main);
    border-radius: 0.5rem;
    padding: 0.5rem 0.75rem;
    flex: 1;
    max-width: 600px;
    border: none;
    outline: none;
}
.visible {
    max-height: 500px;
}

@media screen and (max-width: 1050px) {
    .page {
        width: 80%;
    }
}
@media screen and (max-width: 850px) {
    .page {
        width: 100%;
    }
    .p {
        font-size: 1rem;
    }
    .filters {
        font-size: 1rem;
        flex-direction: column;
    }
}